<% layout('layout') -%>
 

<div class="container">
  <div class="row">
    <div class="col-lg-6">
  <!-- notes on this feature on login.ejs page -->

      <% if (message.length > 0) { %>
        <div class="alert alert-success alert-dismissible">
          <button type="button" class="close" data-dismmiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= message %>
        </div>
        <% } %>


        <% for (var i = 0; i < foundCart.items.length; i++) { %>
          <div class="list-group">
            <span class="list-group-item cartBg">
              <div class="row">
                <div class="col-md-3">
                  <span class="thumbnail"><img class="product-image" src="<%= foundCart.items[i].item.image %>"></span> 
                  </div>
                

                <div class="col-md-6">
                  <p class="list-group-item-heading"><%= foundCart.items[i].item.name %></p>
                </div>
                <div class="col-md-3">
                  <p>Quantity: <%= foundCart.items[i].quantity %></p>
                  <p>Price: <%= foundCart.items[i].price %></p>


<!-- We added the hidden input type. we set the req. body to the name of item and price... So we can use it in the input route -->
                  <form method="post" action="/remove">
                    <input type="hidden" name="item" value="<%= foundCart.items[i]._id %>">
                    <input type="hidden" name="price" value="<%= foundCart.items[i].price %>">
                    <button type="submit" type="button">Remove</button>
                  </form>
                </div>

              </div>
            </span>
          </div>

          <% } %>


        </div>

        <div class="col-md-3"></div>

        <div class="col-md-3">
          <div class="list-group">
            <span class="list-group-item cartBg">
              <h4>Total: $<span class="totalPrice"><%= foundCart.total %></span></h4>

              <div class="form-group">
                <input type="hidden" value="<%= foundCart.total %>">
                
              </div>
            </span>

          </div>
        </div>

<!-- modal -->
<form action="/payment" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_1dgi3umhSBiRQxHkBsjuJemD"
    data-amount="<%= foundCart.total*100 %>"
    data-name="Boho Glo"
    data-description="" 
    data-image="images/hlight3.jpeg"
    data-locale="auto">
  </script>
  <input type="hidden" name="amount" value="<%= foundCart.total*100 %>">

</form>


        

      <div class="row">
        <div class="col-lg-2 col-md-offset-6">
          <div class="text-center" id="loading"></div>
      </div>

    </div>
