<% layout('layout') -%>


 <div class='container'>
   <div class='row'>
    <% for (var i= 0; i < products.length; i++) { %>
	  <div class='col-md-4'>
		<a href="/product/<%= products[i]._id %>">
		 <div class='thumbnail'>
		  <img class="borderStyle" src="<%= products[i].image %>">
		  <div class="caption captAlign">
		  <h3><%= products[i].name %></h3>
		   <p><%= products[i].category.name %></p>
		  <p> $ <%= products[i].price %></p>
		  </div>
		 </div>
		</a>
	   </div>
	  <% } %>
	 </div>
	</div>