<% layout('layout') -%>

	<div class="jumbotron mainImg" id="navbar-gap">
	  <div class="container">
		<h1 class="text-center mTitle"> Discover Beauty</h1>
		<p class="text-center titleColor">Shopping Starts Here</p>
		<div class="row">
		 <div class="col-md-6 col-md-offset-3">
		 	<div class= "input-group col=md-12">
		 		<input type="text" id="search" class="form-control input-lg" name="search-term">
		 		<span class="input-group-btn">
		 			<button type="submit" class="btn btn-primary btn-lg" name="search_term" placeholder="Search for a Product..."><i class="glyphicon glyphicon-search"></i></button>
			 	</span>
			  </div>
			 </div>
			</div>
		  </div>
		 </div>

<div class='container'>

<!-- the id searchResults will assist in allowing us to remove products from page on search -->
   <div class='row' id="searchResults">

    <% for (var i= 0; i < products.length; i++) { %>
	  <div class="col-md-4">
		<a href="/product/<%= products[i]._id %>">
		 <div class='thumbnail'>
		  <img src="<%= products[i].image %>">
		  <div class="caption captAlign ">
		  <h3><%= products[i].name %></h3>
		  <p><%= products[i].category.name %></p>
		  <p><%= products[i].price %></p>
		  </div>
		 </div>
		</a>
	   </div>
	  <% } %>
		<ul class="pagination text-center"> 
			<li>
<!-- the pages variable comes from the variable pages on the main js routes file where the pagination function is defined -->
<!-- i can delete the if else case below and just leave 					<li><a href="/page/<%= i %>"><%= i %></a></li>
ifthe extra space in the pagnation cont. to persist -->
			<%= i %>
				<% for(var i= 1; i <= pages; i++) { %>
				<% if (i === 1) { %>
					<li><a href="/"><%= i %></li>
				<% } else {%>
					<li><a href="/page/<%= i %>"><%= i %></a></li>
				<% } %>
				<% } %>
				
			</li>
		</ul>
	 </div>
	</div>







